body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  padding: 30px;
  text-align: center;
}
h1 {
  margin-bottom: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;  
}

.card {
  background: white;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.card h3 {
  font-size: 18px;
  margin: 10px 0;
  display: flex;
}

.card p {
  font-size: 16px;
  color: green;
  font-weight: bold;
  display: flex;
  justify-content:first baseline;
  align-items:flex-start
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: auto;
  display: flex;
  justify-content: flex-end;

}

button:hover {
  background-color: darkviolet;
}